.vs/
.vscode/
wca.compras.application/bin/
wca.compras.application/obj/
wca.compras.crosscutting/bin/
wca.compras.crosscutting/bin/
wca.compras.data/obj/
wca.compras.data/obj/
wca.compras.domain/bin/
wca.compras.domain/obj/
wca.compras.services/bin/
wca.compras.service/obj/
__blobstorage__/
__queuestorage__/

