
@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* For Firefox */
* {
    scrollbar-width: thin; /* Options: auto, thin */
    scrollbar-color: #000066 #f1f1f1; /* thumb color, track color */
  }
  
  /* For Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
  }
  
  *::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #000066; /* Thumb color */
    border-radius: 10px; /* Roundness of the thumb */
    border: 2px solid #f1f1f1; /* Space around thumb */
  }
