<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wca-apps-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/787447bc-6a1e-44ef-8ae7-b93568d189c7/resourcegroups/GR-COMPRAS-BR/providers/Microsoft.Web/sites/wca-apps-functions</ResourceId>
    <UserName>$wca-apps-functions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://wca-apps-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>